### The exercises below are based on the topics covered in the Udemy course

In [29]:
# import libraries 
import pandas as pd

In [49]:
# import data
summer=pd.read_csv("/home/kinga/python/Master12pandasProjects-Udemy/Project_12_Materials/summer.csv")
winter=pd.read_csv("/home/kinga/python/Master12pandasProjects-Udemy/Project_12_Materials/winter.csv")
dic=pd.read_csv("/home/kinga/python/Master12pandasProjects-Udemy/Project_12_Materials/dictionary.csv")

In [50]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [51]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [52]:
winter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [53]:
winter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        5770 non-null   int64
 1   City        5770 non-null   object
 2   Sport       5770 non-null   object
 3   Discipline  5770 non-null   object
 4   Athlete     5770 non-null   object
 5   Country     5770 non-null   object
 6   Gender      5770 non-null   object
 7   Event       5770 non-null   object
 8   Medal       5770 non-null   object
dtypes: int64(1), object(8)
memory usage: 405.8+ KB

In [54]:
dic.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [55]:
dic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         201 non-null    object
 1   Code            201 non-null    object
 2   Population      196 non-null    float64
 3   GDP per Capita  176 non-null    float64
dtypes: float64(2), object(2)
memory usage: 6.4+ KB

### Merging and concatenating

1. __Merge__ Summer and Winter (one row for each Medal awarded in any Olympic Games) and save the merged DataFrame in __olympics__. 
2. An __additional column__ (e.g. "Edition") shall indicate the Edition -> __Summer or Winter__.
3. Add the __full Country name__ from dictionary to olympics (e.g. France for FRA).

In [56]:
# adding column 'Edition' to summer data frame
summer['Edition']="Summer"

In [57]:
summer.head(3)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Edition
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer

In [58]:
winter['Edition']="Winter"

In [59]:
# adding column 'Edition'to winter data frame
winter.head(3)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Edition
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter

In [60]:
# merging data frame summer and winter
medals=pd.concat([summer, winter], ignore_index=True)

In [62]:
medals.sample(6)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Edition
23469,2000,Sydney,Aquatics,Water polo,"HOOPER, Kate",AUS,Women,Water Polo,Gold,Summer
3083,1920,Antwerp,Athletics,Athletics,"LANDON, Richmond",USA,Men,High Jump,Gold,Summer
35937,2010,Vancouver,Ice Hockey,Ice Hockey,"MORROW, Brenden",CAN,Men,Ice Hockey,Gold,Winter
33961,1992,Albertville,Skiing,Freestyle Skiing,"KOZHEVNIKOVA, Yelizaveta",EUN,Women,Moguls,Silver,Winter
26083,2004,Athens,Cycling,Mountain Bike,"PREMONT, Marie-Helene",CAN,Women,Cross-Country,Silver,Summer
6736,1936,Berlin,Fencing,Fencing,"PREIS-MÜLLER, Ellen S.",AUT,Women,Foil Individual,Bronze,Summer

In [63]:
dic.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [64]:
# merging data frames medals and dic
medals.rename(columns={'Country':'Country code'}, inplace=True)
dic.rename(columns={'Country':'Country name','Code':'Country code' },inplace=True)

In [65]:
medals=medals.merge(dic, how='left', left_on='Country code', right_on='Country code')

In [66]:
medals.head()

,Year,City,Sport,Discipline,Athlete,Country code,Gender,Event,Medal,Edition,Country name,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer,Hungary,9844686.0,12363.543460
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer,Austria,8611088.0,43774.985174
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer,Greece,10823732.0,18002.230578
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer,Greece,10823732.0,18002.230578
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer,Greece,10823732.0,18002.230578

In [67]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36935 entries, 0 to 36934
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            36935 non-null  int64
 1   City            36935 non-null  object
 2   Sport           36935 non-null  object
 3   Discipline      36935 non-null  object
 4   Athlete         36935 non-null  object
 5   Country code    36931 non-null  object
 6   Gender          36935 non-null  object
 7   Event           36935 non-null  object
 8   Medal           36935 non-null  object
 9   Edition         36935 non-null  object
 10  Country name    30568 non-null  object
 11  Population      30522 non-null  float64
 12  GDP per Capita  29957 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 3.9+ MB

###  Data Cleaning

1.For some Country Codes, there is no corresponding __full Country Name__ available (e.g. for "URS") -> __missing values__ in olympics. Identify these Country Codes and search the Web for the full Country Names. __Replace__ missing values!

In [76]:
# checking which country abreviations don't have country name 
medals[medals['Country name'].isnull()]['Country code'].unique()

array(['ZZX', 'BOH', 'ANZ', 'RU1', 'TCH', 'YUG', 'ROU', 'URS', 'EUA',
       'BWI', 'GDR', 'FRG', 'EUN', 'IOP', 'SRB', nan, 'TTO', 'MNE', 'SGP'],
      dtype=object)

In [77]:
# the dictionary with full names
dic2={'ZZX':'Mixed team', 'BOH':'Bohemia', 'ANZ':'Australasia', 'RU1':'Russian Empire', 
      'TCH':'Chechoslovakia', 'YUG':'Yugoslavia', 'ROU':'Romania', 'URS':'Soviet Union', 
      'EUA':'United Team of Germany','BWI':'British West Indies', 'GDR':'East Germany', 
      'FRG':'West Germany', 'EUN':'United Team', 'IOP':'Independent Olpimpic Participants', 
      'SRB':'Serbia', 'TTO':'Trinidad and Tobago', 'MNE':'Montenegro', 'SGP':'Singapore'}

In [80]:
# replacing missing values for country names basing on the dictionary above
medals['Country name'] = medals['Country name'].fillna(medals['Country code'].apply(lambda x: dic2.get(x)))

In [83]:
# checking results 
medals[medals['Country code']=='ZZX']

,Year,City,Sport,Discipline,Athlete,Country code,Gender,Event,Medal,Edition,Country name,Population,GDP per Capita
132,1896,Athens,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,Doubles,Bronze,Summer,Mixed team,NaN,NaN
133,1896,Athens,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,Doubles,Bronze,Summer,Mixed team,NaN,NaN
134,1896,Athens,Tennis,Tennis,"BOLAND, John",ZZX,Men,Doubles,Gold,Summer,Mixed team,NaN,NaN
135,1896,Athens,Tennis,Tennis,"TRAUN, Friedrich",ZZX,Men,Doubles,Gold,Summer,Mixed team,NaN,NaN
136,1896,Athens,Tennis,Tennis,"KASDAGLIS, Dionysios",ZZX,Men,Doubles,Silver,Summer,Mixed team,NaN,NaN
137,1896,Athens,Tennis,Tennis,"PETROKOKKINOS, Demetrios",ZZX,Men,Doubles,Silver,Summer,Mixed team,NaN,NaN
257,1900,Paris,Athletics,Athletics,"BENNETT, Charles",ZZX,Men,5000M Team,Gold,Summer,Mixed team,NaN,NaN
258,1900,Paris,Athletics,Athletics,"RIMMER, John",ZZX,Men,5000M Team,Gold,Summer,Mixed team,NaN,NaN
259,1900,Paris,Athletics,Athletics,"ROBINSON, Sidney",ZZX,Men,5000M Team,Gold,Summer,Mixed team,NaN,NaN
260,1900,Paris,Athletics,Athletics,"ROWLEY, Stanley",ZZX,Men,5000M Team,Gold,Summer,Mixed team,NaN,NaN
261,1900,Paris,Athletics,Athletics,"TYSOE, Alfred",ZZX,Men,5000M Team,Gold,Summer,Mixed team,NaN,NaN
422,1900,Paris,Polo,Polo,"BOUSSOD, Jean",ZZX,Men,Polo,Bronze,Summer,Mixed team,NaN,NaN
423,1900,Paris,Polo,Polo,"DUC DE BISACCIA, Louis",ZZX,Men,Polo,Bronze,Summer,Mixed team,NaN,NaN
424,1900,Paris,Polo,Polo,"FAUQUET LEMAITRE, A.",ZZX,Men,Polo,Bronze,Summer,Mixed team,NaN,NaN
425,1900,Paris,Polo,Polo,"RAOUL-DUVAL, Maurice",ZZX,Men,Polo,Bronze,Summer,Mixed team,NaN,NaN
426,1900,Paris,Polo,Polo,"DALY, Dennis",ZZX,Men,Polo,Gold,Summer,Mixed team,NaN,NaN
427,1900,Paris,Polo,Polo,"KEENE, Foxhall Parker",ZZX,Men,Polo,Gold,Summer,Mixed team,NaN,NaN
428,1900,Paris,Polo,Polo,"MACKEY, Frank Jay",ZZX,Men,Polo,Gold,Summer,Mixed team,NaN,NaN
429,1900,Paris,Polo,Polo,"RAWLINSON, Alfred",ZZX,Men,Polo,Gold,Summer,Mixed team,NaN,NaN
430,1900,Paris,Polo,Polo,"BUCKMASTER, Walter Selby",ZZX,Men,Polo,Silver,Summer,Mixed team,NaN,NaN
431,1900,Paris,Polo,Polo,"COMTE DE MADRE, José Pierre M.J.",ZZX,Men,Polo,Silver,Summer,Mixed team,NaN,NaN
432,1900,Paris,Polo,Polo,"FREAKE, Frederick Maitland",ZZX,Men,Polo,Silver,Summer,Mixed team,NaN,NaN
433,1900,Paris,Polo,Polo,"MCCREERY, Walter Adolph",ZZX,Men,Polo,Silver,Summer,Mixed team,NaN,NaN
493,1900,Paris,Rowing,Rowing,"BRANDT, Francois Antoine",ZZX,Men,Pair-Oared Shell With Coxswain (2+),Gold,Summer,Mixed team,NaN,NaN
494,1900,Paris,Rowing,Rowing,"BROCKMANN, Hermanus Gerardus",ZZX,Men,Pair-Oared Shell With Coxswain (2+),Gold,Summer,Mixed team,NaN,NaN
495,1900,Paris,Rowing,Rowing,"KLEIN, Roelof",ZZX,Men,Pair-Oared Shell With Coxswain (2+),Gold,Summer,Mixed team,NaN,NaN
633,1900,Paris,Tennis,Tennis,"DE GARMENDIA, Basil Spalding",ZZX,Men,Doubles,Silver,Summer,Mixed team,NaN,NaN
634,1900,Paris,Tennis,Tennis,"DECUGIS, Max",ZZX,Men,Doubles,Silver,Summer,Mixed team,NaN,NaN
635,1900,Paris,Tennis,Tennis,"DOHERTY, Hugh Lawrence",ZZX,Men,Mixed Doubles,Bronze,Summer,Mixed team,NaN,NaN
636,1900,Paris,Tennis,Tennis,"WARDEN, Archibald A.",ZZX,Men,Mixed Doubles,Bronze,Summer,Mixed team,NaN,NaN
638,1900,Paris,Tennis,Tennis,"MAHONY, Harold Sergerson",ZZX,Men,Mixed Doubles,Silver,Summer,Mixed team,NaN,NaN
639,1900,Paris,Tennis,Tennis,"JONES, Marion",ZZX,Women,Mixed Doubles,Bronze,Summer,Mixed team,NaN,NaN
640,1900,Paris,Tennis,Tennis,"ROSENBAUM, Hedwig",ZZX,Women,Mixed Doubles,Bronze,Summer,Mixed team,NaN,NaN
642,1900,Paris,Tennis,Tennis,"PREVOST, Hélène",ZZX,Women,Mixed Doubles,Silver,Summer,Mixed team,NaN,NaN
651,1900,Paris,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,Tug Of War,Gold,Summer,Mixed team,NaN,NaN
652,1900,Paris,Tug of War,Tug of War,"NILSSON, August",ZZX,Men,Tug Of War,Gold,Summer,Mixed team,NaN,NaN
653,1900,Paris,Tug of War,Tug of War,"SCHMIDT, Eugen",ZZX,Men,Tug Of War,Gold,Summer,Mixed team,NaN,NaN
654,1900,Paris,Tug of War,Tug of War,"SÖDERSTRÖM, Gustaf",ZZX,Men,Tug Of War,Gold,Summer,Mixed team,NaN,NaN
655,1900,Paris,Tug of War,Tug of War,"STAAF, Karl Gustav",ZZX,Men,Tug Of War,Gold,Summer,Mixed team,NaN,NaN
656,1900,Paris,Tug of War,Tug of War,"WINCKLER, Charles",ZZX,Men,Tug Of War,Gold,Summer,Mixed team,NaN,NaN
765,1904,St Louis,Athletics,Athletics,"CORAY, Albert",ZZX,Men,4Miles Team,Silver,Summer,Mixed team,NaN,NaN
766,1904,St Louis,Athletics,Athletics,"HATCH, Sidney",ZZX,Men,4Miles Team,Silver,Summer,Mixed team,NaN,NaN
767,1904,St Louis,Athletics,Athletics,"HEARN, Lacey",ZZX,Men,4Miles Team,Silver,Summer,Mixed team,NaN,NaN
768,1904,St Louis,Athletics,Athletics,"LIGHTBODY, James",ZZX,Men,4Miles Team,Silver,Summer,Mixed team,NaN,NaN
769,1904,St Louis,Athletics,Athletics,"VERNER, William Frank",ZZX,Men,4Miles Team,Silver,Summer,Mixed team,NaN,NaN
864,1904,St Louis,Fencing,Fencing,"DIAZ, Manuel",ZZX,Men,Foil Team,Gold,Summer,Mixed team,NaN,NaN
865,1904,St Louis,Fencing,Fencing,"FONST, Ramon",ZZX,Men,Foil Team,Gold,Summer,Mixed team,NaN,NaN
866,1904,St Louis,Fencing,Fencing,"VAN ZO POST, Albertson",ZZX,Men,Foil Team,Gold,Summer,Mixed team,NaN,NaN

In [85]:
# checking results 
medals[medals['Country code']=='SRB']

,Year,City,Sport,Discipline,Athlete,Country code,Gender,Event,Medal,Edition,Country name,Population,GDP per Capita
27225,2008,Beijing,Aquatics,Swimming,"CAVIC, Milorad",SRB,Men,100M Butterfly,Silver,Summer,Serbia,NaN,NaN
27443,2008,Beijing,Aquatics,Water polo,"CIRIC, Aleksandar",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27444,2008,Beijing,Aquatics,Water polo,"FILIPOVIC, Filip",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27445,2008,Beijing,Aquatics,Water polo,"GOCIC, Zivko",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27446,2008,Beijing,Aquatics,Water polo,"PEKOVIC, Branko",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27447,2008,Beijing,Aquatics,Water polo,"PIJETLOVIC, Dusko",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27448,2008,Beijing,Aquatics,Water polo,"PRLAINOVIC, Andrija",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27449,2008,Beijing,Aquatics,Water polo,"RADJEN, Nikola",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27450,2008,Beijing,Aquatics,Water polo,"SAPIC, Aleksandar",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27451,2008,Beijing,Aquatics,Water polo,"SAVIC, Dejan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27452,2008,Beijing,Aquatics,Water polo,"SEFIK, Denis",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27453,2008,Beijing,Aquatics,Water polo,"SORO, Slobodan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27454,2008,Beijing,Aquatics,Water polo,"UDOVICIC, Vanja",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
27455,2008,Beijing,Aquatics,Water polo,"VUJASINOVIC, Vladimir",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29004,2008,Beijing,Tennis,Tennis,"DJOKOVIC, Novak",SRB,Men,Singles,Bronze,Summer,Serbia,NaN,NaN
29506,2012,London,Aquatics,Water Polo,"ALEKSIC, Milan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29507,2012,London,Aquatics,Water Polo,"FILIPOVIC, Filip",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29508,2012,London,Aquatics,Water Polo,"GOCIC, Zivko",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29509,2012,London,Aquatics,Water Polo,"MANDIC, Dusan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29510,2012,London,Aquatics,Water Polo,"MITROVIC, Stefan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29511,2012,London,Aquatics,Water Polo,"NIKIC, Slobodan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29512,2012,London,Aquatics,Water Polo,"PIJETLOVIC, Dusko",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29513,2012,London,Aquatics,Water Polo,"PIJETLOVIC, Gojko",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29514,2012,London,Aquatics,Water Polo,"PRLAINOVIC, Andrija",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29515,2012,London,Aquatics,Water Polo,"RADJEN, Nikola",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29516,2012,London,Aquatics,Water Polo,"SAPONJIC, Aleksa",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29517,2012,London,Aquatics,Water Polo,"SORO, Slobodan",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
29518,2012,London,Aquatics,Water Polo,"UDOVICIC, Vanja",SRB,Men,Water Polo,Bronze,Summer,Serbia,NaN,NaN
30835,2012,London,Shooting,Shooting,"ZLATIC, Andrija",SRB,Men,10M Air Pistol,Bronze,Summer,Serbia,NaN,NaN
30858,2012,London,Shooting,Shooting,"MAKSIMOVIC, Ivana",SRB,Women,50M Rifle 3 Positions,Silver,Summer,Serbia,NaN,NaN
30910,2012,London,Taekwondo,Taekwondo,"MANDIC, Milica",SRB,Women,+ 67 KG,Gold,Summer,Serbia,NaN,NaN

2.__Remove rows__ where the Country code is unknown. (Make sure you reset the Index)

In [86]:
medals[medals['Country name'].isna()]

,Year,City,Sport,Discipline,Athlete,Country code,Gender,Event,Medal,Edition,Country name,Population,GDP per Capita
29603,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold,Summer,None,NaN,NaN
31072,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold,Summer,None,NaN,NaN
31091,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver,Summer,None,NaN,NaN
31110,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver,Summer,None,NaN,NaN

In [94]:
# there are 4 rows that don't have the county code - I will delete them 
medals.dropna(axis=0, subset=['Country code'], inplace=True)

In [95]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36931 entries, 0 to 36934
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            36931 non-null  int64
 1   City            36931 non-null  object
 2   Sport           36931 non-null  object
 3   Discipline      36931 non-null  object
 4   Athlete         36931 non-null  object
 5   Country code    36931 non-null  object
 6   Gender          36931 non-null  object
 7   Event           36931 non-null  object
 8   Medal           36931 non-null  object
 9   Edition         36931 non-null  object
 10  Country name    36931 non-null  object
 11  Population      30522 non-null  float64
 12  GDP per Capita  29957 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 3.9+ MB

In [ ]:
# reset index
medals.reset_index(drop=True)

3.Convert the column __Medal__ into an __ordered Categorical__ column ("Bronze" < "Silver" < "Gold")

In [107]:
medals['Medal']=medals['Medal'].astype('category')

In [108]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36931 entries, 0 to 36934
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            36931 non-null  int64
 1   City            36931 non-null  object
 2   Sport           36931 non-null  object
 3   Discipline      36931 non-null  object
 4   Athlete         36931 non-null  object
 5   Country code    36931 non-null  object
 6   Gender          36931 non-null  object
 7   Event           36931 non-null  object
 8   Medal           36931 non-null  category
 9   Edition         36931 non-null  object
 10  Country name    36931 non-null  object
 11  Population      30522 non-null  float64
 12  GDP per Capita  29957 non-null  float64
dtypes: category(1), float64(2), int64(1), object(9)
memory usage: 3.7+ MB

In [109]:
medals['Medal'].sort_values()

36934    Bronze
25565    Bronze
25562    Bronze
25559    Bronze
11084    Bronze
          ...
10811    Silver
10810    Silver
10809    Silver
25834    Silver
18465    Silver
Name: Medal, Length: 36931, dtype: category
Categories (3, object): ['Bronze', 'Gold', 'Silver']

In [110]:
medals['Medal'].cat.set_categories(["Bronze", "Silver", "Gold"],ordered=True, inplace=True )

In [111]:
medals['Medal']

0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
36930    Bronze
36931      Gold
36932    Silver
36933      Gold
36934    Bronze
Name: Medal, Length: 36931, dtype: category
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [112]:
medals.head(5)

,Year,City,Sport,Discipline,Athlete,Country code,Gender,Event,Medal,Edition,Country name,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer,Hungary,9844686.0,12363.543460
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer,Austria,8611088.0,43774.985174
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer,Greece,10823732.0,18002.230578
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer,Greece,10823732.0,18002.230578
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer,Greece,10823732.0,18002.230578